USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 6/19/2022 10:16:37 PM ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLNS.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLNS_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 6/19/2022 10:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MASACH] [char](7) NOT NULL,
	[MAHOADON] [char](7) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIATIEN] [int] NULL,
	[THANHTIEN] [int] NULL,
	[NHANVIEN] [char](7) NULL,
	[MACHITIETHD] [char](7) NOT NULL,
 CONSTRAINT [PK_CHITIETHOADON_1] PRIMARY KEY CLUSTERED 
(
	[MACHITIETHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/19/2022 10:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [char](7) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 6/19/2022 10:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO](
	[MASACH] [char](7) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LINHVUC]    Script Date: 6/19/2022 10:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LINHVUC](
	[TENLINHVUC] [nvarchar](30) NOT NULL,
	[ID] [char](7) NOT NULL,
 CONSTRAINT [PK__LINHVUC__A928AA110B86E2BD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 6/19/2022 10:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[TENLOAISACH] [nvarchar](30) NOT NULL,
	[IDSACH] [char](7) NOT NULL,
 CONSTRAINT [PK__LOAISACH__C5E50BE5DCC19DDF] PRIMARY KEY CLUSTERED 
(
	[IDSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/19/2022 10:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [char](7) NOT NULL,
	[TENNHANVIEN] [nvarchar](100) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[NGAYVAOLAM] [date] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SDT] [nvarchar](12) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 6/19/2022 10:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[TENNHAXUATBAN] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENNHAXUATBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 6/19/2022 10:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [char](7) NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[MATG] [char](7) NOT NULL,
	[TENLINHVUC] [nvarchar](30) NULL,
	[TENLOAISACH] [nvarchar](30) NULL,
	[GIAMUA] [int] NULL,
	[GIABIA] [int] NULL,
	[LANTAIBAN] [int] NULL,
	[TENNHAXUATBAN] [nvarchar](50) NULL,
	[NAMXUATBAN] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 6/19/2022 10:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [char](7) NOT NULL,
	[TENTG] [nvarchar](40) NULL,
	[NAMSINH] [date] NULL,
	[NAMMAT] [date] NULL,
	[QUEQUAN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/19/2022 10:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASS_WORD] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHOADON] ([MASACH], [MAHOADON], [SOLUONG], [GIATIEN], [THANHTIEN], [NHANVIEN], [MACHITIETHD]) VALUES (N'NVB0102', N'HD00001', 2, 15000, 30000, N'NV001  ', N'CT00001')
INSERT [dbo].[CHITIETHOADON] ([MASACH], [MAHOADON], [SOLUONG], [GIATIEN], [THANHTIEN], [NHANVIEN], [MACHITIETHD]) VALUES (N'NVB0103', N'HD00002', 3, 135000, 405000, N'NV002  ', N'CT00002')
INSERT [dbo].[CHITIETHOADON] ([MASACH], [MAHOADON], [SOLUONG], [GIATIEN], [THANHTIEN], [NHANVIEN], [MACHITIETHD]) VALUES (N'NVB0110', N'HD00005', 2, 90000, 180000, N'NV005  ', N'CT00003')
INSERT [dbo].[HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD00001', N'Trinh Cong Son', CAST(N'2022-06-19 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD00002', N'Le Mai', CAST(N'2022-06-19 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD00003', N'Dao Anh', CAST(N'2022-06-19 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[KHO] ([MASACH], [SOLUONG]) VALUES (N'NVB0102', 55)
INSERT [dbo].[KHO] ([MASACH], [SOLUONG]) VALUES (N'NVB0103', 57)
INSERT [dbo].[KHO] ([MASACH], [SOLUONG]) VALUES (N'NVB0104', 69)
INSERT [dbo].[LINHVUC] ([TENLINHVUC], [ID]) VALUES (N'Truyen Tranh', N'LVS0102')
INSERT [dbo].[LINHVUC] ([TENLINHVUC], [ID]) VALUES (N'Tieu Thuyet', N'LVS0103')
INSERT [dbo].[LINHVUC] ([TENLINHVUC], [ID]) VALUES (N'Giao Trinh', N'LVS0105')
INSERT [dbo].[LOAISACH] ([TENLOAISACH], [IDSACH]) VALUES (N'Sach Tieng Anh', N'TL10203')
INSERT [dbo].[LOAISACH] ([TENLOAISACH], [IDSACH]) VALUES (N'Sach Tieng Viet', N'TL12301')
INSERT [dbo].[LOAISACH] ([TENLOAISACH], [IDSACH]) VALUES (N'Sach Danh cho Nguoi Lon', N'TL12380')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [GIOITINH], [NGAYSINH], [NGAYVAOLAM], [DIACHI], [SDT]) VALUES (N'NV001  ', N'Nguyen Thi Na', 1, CAST(N'2001-06-12' AS Date), CAST(N'2022-06-10' AS Date), N'So 1 Vo Van Ngan', N'0112233445')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [GIOITINH], [NGAYSINH], [NGAYVAOLAM], [DIACHI], [SDT]) VALUES (N'NV002  ', N'Dao Thi Thanh Vi', 1, CAST(N'2002-10-06' AS Date), CAST(N'2022-06-11' AS Date), N'So 484 Le Van Viet', N'0566778899')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [GIOITINH], [NGAYSINH], [NGAYVAOLAM], [DIACHI], [SDT]) VALUES (N'NV003  ', N'Tran Ngo Bich Du', 1, CAST(N'2002-09-23' AS Date), CAST(N'2022-06-12' AS Date), N'So 1 hem 5 Dinh Phong Phu', N'0112233449')
INSERT [dbo].[NHAXUATBAN] ([TENNHAXUATBAN]) VALUES (N'NXB Da Nang')
INSERT [dbo].[NHAXUATBAN] ([TENNHAXUATBAN]) VALUES (N'NXB Dong Nai')
INSERT [dbo].[NHAXUATBAN] ([TENNHAXUATBAN]) VALUES (N'NXB Ha Noi')
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MATG], [TENLINHVUC], [TENLOAISACH], [GIAMUA], [GIABIA], [LANTAIBAN], [TENNHAXUATBAN], [NAMXUATBAN]) VALUES (N'NVB0102', N'Ha Do', N'TG12345', N'Truyen Ngan', N'Sach Tieng Viet', 15000, 21000, 3, N'NXB Tre', CAST(N'2022-06-19 17:18:14.167' AS DateTime))
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MATG], [TENLINHVUC], [TENLOAISACH], [GIAMUA], [GIABIA], [LANTAIBAN], [TENNHAXUATBAN], [NAMXUATBAN]) VALUES (N'NVB0103', N'Dem Dinh Menh', N'TG01011', N'Tieu Thuyet', N'Sach Danh cho Nguoi Lon', 135000, 148000, 2, N'NXB Tre', CAST(N'2016-06-18 15:32:05.000' AS DateTime))
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MATG], [TENLINHVUC], [TENLOAISACH], [GIAMUA], [GIABIA], [LANTAIBAN], [TENNHAXUATBAN], [NAMXUATBAN]) VALUES (N'NVB0104', N'Hao Mon Kinh Mong', N'TG01011', N'Tieu Thuyet', N'Sach Danh cho Nguoi Lon', 130000, 150000, 2, N'NXB Tre', CAST(N'2016-06-18 15:32:05.000' AS DateTime))
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NAMSINH], [NAMMAT], [QUEQUAN]) VALUES (N'TG01011', N'An Tam', CAST(N'1982-04-15' AS Date), CAST(N'2100-06-18' AS Date), N'Bac Kinh')
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NAMSINH], [NAMMAT], [QUEQUAN]) VALUES (N'TG01012', N'Aoyama Gosho', CAST(N'1963-06-21' AS Date), CAST(N'2100-06-18' AS Date), N'Tottori')
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NAMSINH], [NAMMAT], [QUEQUAN]) VALUES (N'TG01034', N'Lan Rua', CAST(N'1995-06-19' AS Date), CAST(N'2022-06-19' AS Date), N'Hai Duong')
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'na', N'123')
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'vi', N'1233')
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'vidao', N'1233')
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_NHANVIEN] FOREIGN KEY([NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SACH]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_SACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([TENNHAXUATBAN])
REFERENCES [dbo].[NHAXUATBAN] ([TENNHAXUATBAN])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
USE [master]
GO
